*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto Mono", monospace;
  background: #B3D9F4;
  display: flex;
  flex-direction:column;

}

.bg-changer {
  align-self: flex-end;
  font-size: 0.875rem;
  padding-right: 0.75rem
}

.board-name {
  align-self: center;
}

.board-name input {
  appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
  font-family:  "Permanent Marker", cursive;
  font-size: 2.5rem;
  color: #000000;
}

::placeholder {
  color: #292929;
  opacity: 2; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: #292929;
}

.board {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
}

.todo-form{
  align-self: center;
}

.board input{
  appearance: none;
	border: none;
	outline: none;
	background: #FDFDFD;
	cursor: initial;
  font-family: "Roboto Mono", monospace;
  font-size: 1.125rem;
  font-weight: 300;
  text-align: center;
  border-radius: 0.625rem;
  width: 21.875rem;
  height: 2.813rem;
  box-shadow: 0px 3px 3px 3px rgb(0 0 0 / 20%);
}

.add-button {
  font-family: "Roboto Mono", monospace;
  font-size: 1.125rem;
  font-weight: 300;
  background-color: #FDFDFD;
  border: 1px solid #616161;
  border-radius: 6.25rem;
  box-shadow: 0px 3px 3px 3px rgb(0 0 0 / 20%);
  padding: .5rem 1rem;
}

.lanes {
  display: flex;
  justify-content: center;
  gap: 7.5rem;
  padding-top: 2rem;
}

.swim-lane {
  min-height: 25.25rem;
  min-width: 17.813rem;
  background: #F2F2F2;
  border-radius: 1.25rem;
  box-shadow: 0px 3px 3px 3px rgb(0 0 0 / 20%);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.25rem;
}

.heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 1.25rem;
}

.task {
  width: 15.25rem;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  background: #FFFFFF;
  border-radius: 0.625rem;
  box-shadow: 0px 3px 3px 3px rgb(0 0 0 / 20%);
}

.edit-icon, .delete-icon {
  border: none;
  background: none;

}

.edit-icon{
  padding-left: 20px;
  padding-right: 10px;
}

#colorbox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 0.125rem;
  padding: .6rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
}

#colorbox span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
